[tool.poetry]
name = "specvizitor"
version = "0.1.13"
description = "Python GUI application for a visual inspection of astronomical spectroscopic data"
authors = ["Ivan Kramarenko <im.kramarenko@gmail.com>", "Josephine Kerutt <>"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/ivkram/specvizitor"

[tool.poetry.dependencies]
python = "^3.10"
astropy = "^5.2.1"
platformdirs = "^3.0.0"
dictdiffer = "^0.9.0"
pyqtgraph = "^0.13.1"
pgcolorbar = "^1.1.3"
pandas = "^1.5.3"
dacite = "^1.8.0"
qtpy = "^2.3.0"
pyqt5 = "^5.15.9"

[tool.poetry.scripts]
specvizitor = 'specvizitor.gui:main'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
